@import './common';
@import './example';
body {
    font-family: "Roboto", sans-serif;
       
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
}
.search-form {
    position: fixed ;
    top: 0;
    width: 100%;
   height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 22, 240, 0.8);
}
.search-form button {
    background-color: #5ade91;
    border-radius: 4px;
}
.gallery {
   display: flex;
    flex-wrap: wrap;
    gap: 10px; 

    
}
.photo-card {
    display: flex;
    flex-direction: column;
    width: calc((100% - 30px) / 4);
    justify-content: space-between;
    height: 240px;
    border-radius: 4px;
    overflow: hidden;
    background-color: rgb(236, 237, 237);
}
.photo {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;

}
img {
    width: 100%;
    height: 200px;
    max-width: unset;
    object-fit: cover;
}
.info {
    display: flex; 
    justify-content: space-between;
    height: 40px;
    margin-bottom: 0;
}
.info-item {
    font-size: 12px;
    display: flex;
    gap: 4px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 4px 0;
}
.load-more {
    display: block;
    margin: 4px auto 0;
    background-color: #5ade91;
    border-radius: 4px;
}
.is-hidden {
    display: none;
}
.gallery__link {

    text-decoration: none;
}

